.full-name{
    display: flex;
    flex-direction: column;
    font-weight: bold;

}
.email{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.feed-back{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.enter-your-name{

        border-radius: 3px;
    border: 1px solid black;
    width: 278px;
    height: 37px;
}

.enter-your-email{
        border-radius: 3px;
    border: 1px solid black;
    width: 278px;
    height: 37px;
}
