.student-name{
display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
}

.roll-number{
display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
}

.class{
display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
}

.date-of-birth{
display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
}

.phone{
display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
}

.address{
display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
}

.student-a{
    border: 1px solid black;
    border-radius: 4px;
    width: 459px;
    height: 31px;
}
.roll-a{
    border: 1px solid black;
    border-radius: 4px;
    width: 459px;
    height: 31px;
}
.class-a{
    border: 1px solid black;
    border-radius: 4px;
    width: 459px;
    height: 31px;
}
.dateofbirth-a{
    border: 1px solid black;
    border-radius: 4px;
    width: 459px;
    height: 31px;
}
.phone-a{
    border: 1px solid black;
    border-radius: 4px;
    width: 459px;
    height: 31px;
}
.address-a{
    border: 1px solid black;
    border-radius: 4px;
    width: 459px;
    height: 31px;
}
