.name-a{
    border: 1px solid black;
    border-radius: 4px;
    width: 172px;
    height: 25px;
    margin-bottom: 10px;
}
bio-a{
    border: 1px solid black;
    border-radius: 4px;
    width: 173px;
    height: 25px;
    margin-top: 10px;
}
.button-ab{
   width: 152px;
    align-items: center;
    background: bisque;
    height: 37px;
    border-radius: 8px;
    margin-top: 10px;
}


   