.full-name {
    display: flex;
    flex-direction: column;
    font-weight: bold;

}

.email {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.feed-back {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.enter-your-name {

    border-radius: 3px;
    border: 1px solid black;
    width: 354px;
    height: 37px;
    font-size: 20px;
}

.enter-your-email {
    border-radius: 3px;
    border: 1px solid black;
    width: 354px;
    height: 37px;
    font-size: 20px;
}

.write-your-feedback {
    border-radius: 3px;
    border: 1px solid black;
    width: 354px;
    height: 87px;
    font-size: 20px;
}

.google{
        align-items: center;
    font-size: 23px;
    font-weight: bold;

}