.name-a{
    border: 1px solid black;
    border-radius: 4px;
    width: 172px;
    height: 25px;
    margin-bottom: 10px;
}


.button-ab{
   width: 152px;
    align-items: center;
    background: bisque;
    height: 37px;
    border-radius: 8px;
    margin-top: 10px;
}
.bio-ac{
    height: 26px;
    margin-top: 8px;
    width: 161px;
    border-radius: 3px;
    border: 1px solid black;

}
.CONTACT-a{
    align-items: center;
    font-weight: bold;
}
.contact form{
     border: 1px solid black;
    border-radius: 5px;
    width: 389px;
    padding: 20px;
    align-items: center;
    background: rgb(168, 224, 224);
}


   