.full-name{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;

}
.email{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;

}
.feed-back{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}
.enter-your-name{
border: 1px solid black;
    height: 33px;
    border-radius: 4px;
    width: 303px;
}
.enter-your-email{
border: 1px solid black;
    height: 33px;
    border-radius: 4px;
    width: 303px;
}
.write-your-feedback{
    border: 1px solid black;
    height: 101px;
    border-radius: 4px;
    width: 303px;
}
.submit{
    width: 305px;
    margin-top: 20px;
    background: blue;
    color: white;
    height: 38px;
    border-radius: 22px;
}
.google-form{
    border: 1px solid black;
    border-radius: 21px;
    width: 386px;
    padding: 16px;
}